/* Ensure the entire page takes the full viewport height */
html, body {
    height: 100%;
    margin: 0;
}

/* Container to center the video */
#camera-container {
    position: relative; /* Make it a positioned container for absolute positioning */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #f1f1f1;
}

#overlayImg {
    position: absolute; /* Position relative to #camera-container */
    top: 0;
    left: 0;
    /* background-image: url(img/Klaymen.png); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain; /* Ensure the image scales properly */
    opacity: 0.5;
    z-index: 2;
    pointer-events: none;
}


/* Style the video element */
#camera-feed {
    width: 100%; /* Adjust as needed */
    height: auto;
    max-width: 600px; /* Limit the max width for better visibility */
    border: 5px solid #181818; /* 5px green border */
    border-radius: 10px; /* Optional: rounded corners */
}

button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #67f5ee;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 10px;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Add this line */
    position: absolute; /* Add this line */
    top: 10px; /* Add this line */
    width: 100%; /* Add this line */
}

.slidecontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute; /* Add this line */
    top: 50px; /* Add this line */
    width: 100%; /* Add this line */
}

/* reduces the size of the buttons */
@media only screen and (max-width: 768px) {
    button {
      padding: 5px 10px;
      font-size: 14px;
    }
    #header {
      justify-content: center;
    }
  }